$orange: #FF5307;
$yellow: #FFD803;
$brown: #616262;
$blue: #0c6fa4;
$gray: #373838;
$dark:#2c2d2d;
$orange-gr:linear-gradient(135deg, #FFA318 0%, #E04300 100%);
$radiusBtn: 5px;
$transition3: .3s all;
$transition2: .3s all;