.form-block {
  background: #373838;
  padding: 55px 0;

  &__wrapper {
    max-width: 600px;
    background: rgba(255, 255, 255, .2);
    margin: 0 auto 0 auto;
    padding: 35px 35px 35px 35px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }

  &__title {
    color: #0095e5;
    text-align: center;
    font-size: 26px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 17px;
  }

  &__subtitle {
    display: block;
    color: #fff;
    text-align: center;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    max-width: 450px;
    margin: 0 auto 20px auto;
  }
}

@media screen and (max-width: 575px) {
  .form-block {
    &__wrapper{
      padding: 35px 15px;
    }
    &__title {
      font-size: 20px;
      line-height: 26px;
      margin: 0 auto 25px auto;
    }

    &__subtitle {
      font-size: 14px;
      line-height: 20px;
      margin: 0 auto 25px auto;
    }
  }
}