.modal-one-click{
    &__item{
        margin-bottom: 40px;
    }
    &__name{
        margin-bottom: 20px;
        font-size: 15px;
line-height: 20px;
font-weight: 700;
display: block;
    }
    &__img{
        img{
            border-radius: 18px;

        }
    }
}