.swiper-container, .swiper-reviews{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0px;
    z-index: 1;
    width: 80%;
    height: 100%;
  }
.swiper-region{
  width: 90%;
}
  
  .swiper-tags{
    padding: 25px 15px 40px;
    &::after {
      content: "";
      display: block;
      width: 45px;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1000;
      background: rgb(255,255,255);
      background: -moz-linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(247,247,247,1) 64%);
      background: -webkit-linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(247,247,247,1) 64%);
      background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(247,247,247,1) 64%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#f7f7f7",GradientType=1); 
    }
  
    
  }
  .swiper-slide__wauto {
    text-align: center;
    width: auto !important;
  }
  
  .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    left: 34px;
  }
  
  .swiper-container-vertical > .swiper-wrapper {
    flex-direction: column;
  }
  
  .swiper-container-multirow-column > .swiper-wrapper {
    flex-wrap: wrap;
    flex-direction: row;
  }
  
  .swiper-button-disabled {
    //display: none !important;
    opacity: .3 !important;
    cursor: not-allowed !important;
  }
  
  .swiper-pagination-bullets {
    position: relative!important;

    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 25;
  }
  
  .swiper-pagination-bullet {
    width: 8px;
    height:8px;
    display: inline-block;
    border-radius: 50%;
    background: #C4C4C4;
    z-index: 25;
    transition: $transition3;
    margin-right: 15px !important;
    &:last-child,&:last-of-type{
      margin-right: 0!important;
    }
    
  }
  
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
    transition: $transition3;
    background: $orange;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    opacity: 1;
  }
