.tab{
    display: none;
    transform: scale(0);
    visibility: hidden;
    opacity: 0;
    transition: $transition3;
    &.active{
        animation: showTabs .5s;
        display: flex;
        flex-wrap: wrap;
        visibility: visible;
        opacity: 1;
        transform: scale(1);
    }
}